doctype html
html
  head
    meta(charset='utf-8')
    link(rel='stylesheet', href='/test/style.css')
    script(type='text/javascript', src='/lib/jquery/jquery-2.1.1.js')
    script(type='text/javascript', src='/test/test.js')
  body
    h1 NeedU服务器端测试
    div.field
      span 方法: 
      select#method
        option(val='GET') GET
        option(val='POST') POST
        option(val='PUT') PUT
        option(val='DELETE') DELETE
    div.field
      span URL: 
      input#url(type='text', placeholder='/user')
    div.field
      span session ID: 
      input#sid(type='text')
    div.field
      span 请求体: 
      textarea#body(rows='5', placeholder='username=abc')
      span 每个参数一行
    div.operations
      button#submit 提交
      button#reset 重置
    hr
    div#result
      h2 响应结果
      textarea
